.checkOutGroup{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    left: 50%;
    align-items: center;
    align-content: space-between;
    height: 50vh;
    width: 50vh;
    background-color: lightgray;
    border: 15px;
    border-radius: 40px;
    .checkOutInfo{
        justify-content: center;
        align-content: space-between;
    }
}
.checkOutForm{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    border: 10px;
    .inputCheck{
        display: flex;
    }
    .sendLove{
        display: flex;
        margin: 10%;
    }
}