.containerDetailedDesign{
    display: flex;
    padding-top: 20%;
    align-items: center;
    justify-content: center;
}
.cardDetailedDesign{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
}